<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed Feb 01 15:11:03 KST 2017-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nss.myboard.domain.login.mapper.LoginMapper">

    <select id="getLoginUserInfo" parameterType="String" resultType="LoginEntity">
    	SELECT * FROM NSS_BOARD WHERE USR_ID = #{param}
    </select>
</mapper>