<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    
    <title>게시판 기능 넣기 프로젝트 v1.0 Boot</title>

    <!-- 부트스트랩4 필수 : 제이쿼리, popper.js -->
    <script type="text/javascript" th:src="@{/boardresources/js/jquery-3.5.0.min.js}"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <script type="text/javascript" th:src="@{/boardresources/js/jquery.countdown.js}"></script>

    <!-- 부트스트랩 -->
    <script type="text/javascript" th:src="@{/boardresources/bootstrap-3.3.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/boardresources/bootstrap-3.3.2/css/bootstrap.min.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/boardresources/bootstrap-3.3.2/css/bootstrap-theme.min.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/boardresources/bootstrap-3.3.2/css/sampleTemplate.css}" media="all">


    <script type="text/javascript">
        function go_popup(index){
            $('#popup'+index).bPopup();
        }
    </script>

    <th:block th:replace="~{layout/fragment/left :: left_script}" />
    <th:block th:replace="~{layout/fragment/menuTopBar :: menuTopBar_script}" />
</head>
<body>
	<th:block th:replace="~{layout/fragment/menuTopBar :: menuTopBar_contents}" />	
    <div class="container-fluid">
      <div class="row">
      	<div class="col-sm-3 col-md-2 sidebar" th:insert="~{layout/fragment/left :: left_contents}"></div>
      	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      		<th:block layout:fragment="pageContents" />
      	</div>
      </div>
    </div>
</body>
</html>