<!DOCTYPE html>
<!-- 

	현재 미사용, 참고용으로만 보기

 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--
    레이아웃 파일의 헤더부분에 쭉 작성해야 각 페이지의 헤더에 작성된 스크립트, css가 자동으로 추가됨.
    fragment로 레이아웃 페이지에 replace하면 각 페이지의 <head>부분에 작성된 css, script가 추가되지 않음
-->
<head th:fragment="common_header">
    <meta charset="UTF-8">

    <title>게시판 기능 넣기 프로젝트 v1.0 Boot</title>

    <!-- 공통 -->
    <!-- 부트스트랩4 필수 : 제이쿼리, popper.js -->
    <script type="text/javascript" th:src="@{/boardresources/js/jquery-3.5.0.min.js}"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <script type="text/javascript" th:src="@{/boardresources/js/jquery.countdown.js}"></script>

    <!-- 부트스트랩 -->
    <script type="text/javascript" th:src="@{/boardresources/bootstrap-3.3.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/boardresources/bootstrap-3.3.2/css/bootstrap.min.css}" media="all">


    <script type="text/javascript">
        function go_popup(index){
            $('#popup'+index).bPopup();
        }
    </script>

    <th:block th:replace="~{layout/fragment/left :: left_script}" />
    <th:block th:replace="~{layout/fragment/menuTopBar :: menuTopBar_script}" />

    <!-- 특정 페이지만의 css, script 추가 ==> 해당 페이지 내 <head>태그 안에 작성하면 자동으로 layout에 추가되게 바뀜 (21.08.17)-->
<!--    <th:block layout:fragment="css"/>-->
<!--    <th:block layout:fragment="script"/>-->
</head>

</html>