<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:inline="javascript" th:fragment="left_script">
        $(document).ready(function(){
            $('.gnbtab li').on('click',function(e){
                $(this).addClass('on');
//           $(this).siblings().removeClass('on');
            });
        });

        function go_url(url, menuOrder, prtMenuSeq){
            document.menuForm.menuOrderChk.value = menuOrder;
            document.menuForm.prtMenuSeqChk.value = prtMenuSeq;
            document.menuForm.action = /* [[@{url}]] */ url;
            document.menuForm.submit();
        }
    </script>
</head>
<body>
    <div id="wrap" class="clfix" th:fragment="left_contents">
        <h1>메뉴 선택</h1>
        <div class="gnbwrp">
            <nav id="gnb">
                <ul class="gnbtab">
                    <li><a href="/dashboard/selectDashBoardList.do">엑셀 업로드, 다운로드 게시</a></li>
                    <li><a href="/fileboard/admin/selectFileBoardList.do">파일첨부</a></li>
                    <li><a href="/fileboard/user/selectFileBoardList.do">대댓글</a></li>
                    <li><a href="/dynamicList/list/selectDynamicBoardList.do">Ajax리스트 조회 테스트</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>