<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:inline="javascript" th:fragment="left_script">
        $(document).ready(function(){
            $('.nav.nav-sidebar li').on('click',function(e){
                $(this).addClass('active');
            });
        });

        function go_url(url, menuOrder, prtMenuSeq){
            document.menuForm.menuOrderChk.value = menuOrder;
            document.menuForm.prtMenuSeqChk.value = prtMenuSeq;
            document.menuForm.action = /* [[@{url}]] */ url;
            document.menuForm.submit();
        }
    </script>
</head>
<body>
    <ul class="nav nav-sidebar" th:fragment="left_contents">
        <li class="active"><a th:href="@{/dashboard/selectDashBoardList}">엑셀 업로드, 다운로드 게시</a></li>
        <li><a th:href="@{/fileboard/admin/selectFileBoardList}">파일첨부</a></li>
        <li><a th:href="@{/fileboard/user/selectFileBoardList}">대댓글</a></li>
        <li><a th:href="@{/dynamicList/list/selectDynamicBoardList}">Ajax리스트 조회 테스트</a></li>
        <li><a th:href="@{/user/manage}">사용자관리</a></li>
    </ul>
</body>
</html>