<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <script type="text/javascript" th:inline="javascript" th:fragment="menuTopBar_script">
        // 로그인 된 유저 정보 있는지 확인
        isLoginUser = /*[[${LoginVO}]]*/ null;

        $(document).ready(function(){
            if (isLoginUser != null) {
                doMainTimer();
            }
        });

        function doMainTimer(){
            //메인바 타이머
            // 10000 10초
            // 600000 1분
            // 1800000 30분
            var lapSeconds = new Date().getTime() + 1800000;
            $('#logTimer').countdown(lapSeconds, {elapse: false})
                .on('update.countdown', function(event) {
                    var $this = $(this);
                    $this.html(event.strftime('<span>%M:%S</span>'));
                })
                .on('finish.countdown', function(event){
                    logout();
                });
        }

        // 로그인 연장
        function loginExtension() {
            doRefresh();
            doMainTimer();
        }

        // 로그아웃
        function logout() {
            location.href = /*[[@{/actionLogout}]]*/ '/actionLogout';
        }

        function doRefresh() {
            $.ajax({
                type : "POST",
                url : /*[[@{/keepSession}]]*/ "/keepSession",
                success : function(data) {
                },
                error : function() {
                }
            });
        }
    </script>

	<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="menuTopBar_contents">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" th:href="@{/dashboard/selectDashBoardList}">게시판 기능 넣기 프로젝트 v1.0 Boot</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">MYPAGE</a></li>
            <li><a href="#">LOG OUT</a></li>
            <li><a href="#">메뉴미정2</a></li>
            <li><a href="#">메뉴미정3</a></li>
          </ul>
<!--           <form class="navbar-form navbar-right"> -->
<!--             <input type="text" class="form-control" placeholder="Search..."> -->
<!--           </form> -->
        </div>
      </div>
    </nav>
</html>