<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed Feb 01 15:11:03 KST 2017-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nss.myboard.domain.user.mapper.UserManageMapper">

    <select id="existsUsers" parameterType="UserManageDTO" resultType="LoginEntity">
    	SELECT * FROM nss_user
    </select>
    
    <select id="getRolesInfo" resultType="RoleEntity">
    	SELECT * FROM nss_role
    </select>
    
    <insert id="joinUser" parameterType="UserManageDTO">
    	INSERT INTO nss_user
    		(USR_ID, USR_NAME, USR_PWD, ROLE_SEQ, REG_DT)
    	VALUES
    		(#{usrId}, #{usrName}, #{usrPwd}, #{roleSeq}, NOW())
    </insert>
</mapper>