<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL" /> <!-- 쿼리파라미터가 NULL인 경우 NULL 입력되게 (db에서 null임. 'NULL' 아님) -->
    </settings>
    
    <typeAliases>
        <typeAlias type="nss.myboard.domain.login.dto.LoginDto" alias="LoginDTO"/>
        <typeAlias type="nss.myboard.domain.dashboard.dto.DashBoardDto" alias="DashBoardDTO"/>
    </typeAliases>

</configuration>