<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
	<script type="text/javascript" th:inline="javascript">
		function goJoinForm() {
			location.href = /*[[@{/user/joinform}]]*/ ""; 
		}
	</script>
</head>

<th:block layout:fragment="pageContents">
    <div class="usrposit"></div>
    <div id="maininner">
        <div>
            <table class="table table-striped">
                <colgroup>
                    <!-- 필요에 따라 조절 / 합이 100이어야 함 -->
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">아이디</th>
                    <th scope="col">회원명</th>
                    <th scope="col">등록일시</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="result : ${resultList}" th:if="${!#lists.isEmpty(resultList)}">
                        <td th:text="${resultStat.count}"/></td>
                        <td style="cursor: pointer;" th:text="${result.usrId}"></td>
                        <td th:text="${result.usrName}"></td>
                        <td th:text="${result.regDt}"></td>
                    </tr>
                    <tr style="cursor: pointer;" th:unless="${!#lists.isEmpty(resultList)}">
                        <td colspan="4" style="text-align: center;">목록이 없습니다.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="float: right;">
            <button th:onclick="goJoinForm();">등록폼</button>
        </div>
    </div>
</th:block>

</html>